<form id="Form" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  {% for campo in formulario %}
    <div class="mb-3">
      {% if campo.field.widget.input_type == "text" and campo.name == "claveFiscal"%}
        <label for="" class="form-label">{{campo.label}}</label>
        <input 
        type="password"
        class="form-control" 
        name="{{campo.name}}"
        id="" 
        aria-describedby="helpId" 
        placeholder="{{campo.label}}"
        value="{{ campo.value | default:''}}"
        autofocus required
        >
      {%else%}
      {% if campo.field.widget.input_type == "text"%}
        <label for="" class="form-label">{{campo.label}}</label>
        <input 
        type="{{ campo.field.widget.input_type}}"
        class="form-control" 
        name="{{campo.name}}"
        id="" 
        aria-describedby="helpId" 
        placeholder="{{campo.label}}"
        value="{{ campo.value | default:''}}"
        autofocus required
        >
      {%else%}
      {% if campo.field.widget.input_type == "number"%}
      <label for="" class="form-label">{{campo.label}}</label>
      <input 
        type="{{ campo.field.widget.input_type}}"
        class="form-control" 
        name="{{campo.name}}"
        min="1000000000"
        max="9999999999"
        id="" 
        aria-describedby="helpId" 
        placeholder="{{campo.label}}"
        value="{{ campo.value | default:''}}"
        autofocus required
        >
      {%else%}
      <label for="" class="checkbox">Estado</label>

      <label class="container">
        <input 
        type="checkbox"
        checked="checked"
        class="" 
        name="{{campo.name}}"
        id="" 
        aria-describedby="helpId" 
        value="{{ campo.value | default:''}}"
        >
        <span class="checkmark"></span>
        </label> 
      {%endif%}
      {%endif%}
      {%endif%}
    </div>
    <div class="col-12 help-text">{{campo.errors}}</div>
  {% endfor %}
  
  <input name="" id="" class="btn-succes" type="submit" value="Guardar Datos">

</form>